<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings/>
  <connectionStrings>
   
    <!--本地-->
    <add name="ConectionStr" connectionString="A1Q3T4M5T4G2F4H5N5K5V4X4J3U2H3V3G5B5M5B5T4E5G2P3T4M5T4E5H5Z4J3V4T4K5W4W4U4H3H4L5X4K5G2V3Q3J3L5T4H3C4T4L5L5P5H5K5W4J3X2Y2Z2A3B3C3" providerName="System.Data.SqlClient"/>
    <!--<add name="ConectionStr" connectionString="K1A4D5W5D5Q2P4R5X5U5F5H5T3E3R3F4Q5L5W5L5D5O5Q2Z3D5W5D5O5R5J5T3F5D5U5G5G5E5R3R4V5H5U5Q2F4A4T3V5D5R3M4D5V5V5Z5R5U5G5T3H3I3J3K3L3M3" providerName="System.Data.SqlClient"/>-->


  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpPostLocalhost" />
        <add name="Documentation" />
      </protocols>
    </webServices>
  </system.web>
  
</configuration>
